Package: com.bytafont.bytafonttm2
Name: BytaFont Tweak Mode
Author: BytaFont.com <info@bytafont.com>
Version: 1.2.0
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Byta Font Tweak Mode 10.2!
Homepage: http://twitter.com/mdallak
Depiction: http://mdallak.github.io
Maintainer: BytaFont
Section: Tweaks
