Package: com.julioverne.cydown
Name: CyDown
Author: julioverne <julioverne@me.com>
Version: 6.7.0
Depends: cydia, firmware (<< 8.3) | ldid (>= 1:1.2.1), mobilesubstrate
Architecture: iphoneos-arm
Description: Cydia Download Manager & Extra Features!
Homepage: http://twitter.com/ijulioverne
Depiction: http://julio.xarold.com/files-deb/cydown.html
Maintainer: Julio
Section: Tweaks
Icon: file:///Library/PreferenceBundles/CyDownSettings.bundle/CyDown@2x.png
