Name: Phantom Crack
Package: com.crack.alphantom
Priority: optional
Depends: firmware (>= 8.0), mobilesubstrate (>= 0.9.5000), com.rpetrich.rocketbootstrap
Conflicts: com.n00neimp0rtant.picarchiver, com.thomasfinch.snapchatsound, com.timecompiler.snapchatlog, com.perascotta.snapmoretext, com.bengerard.snapselect, com.ridan.allsnap, com.drp.snapmaster, com.skylerk99.snapprefs, com.abcapps.snapplus, com.jonluca.sclenses4all, com.cokepokes.libphantom
Replaces: com.cokepokes.phlite
Version: 5.3.2-8-10
Architecture: iphoneos-arm
Description: Phantom Crack
Depiction: http://mdallak.github.io/depic/index.html?p=PhantomDp
Maintainer: M Dallak <M_Dallak@outlook.com>
Author: M Dallak <M_Dallak@outlook.com>
Section: Tweaks
dev: cokepokes
Icon: file:///Library/PreferenceBundles/phlite.bundle/phantomIcon@2x.png

