Package: com.bytafont3.loveiscomplicatedagain
Name: Love Is Complicated Again Font
Version: 4.0
Architecture: iphoneos-arm
Depends: com.bytafont.bytafont3
Depiction: http://repo.bytafont.com/font_swapmode_depiction?id=3930
Maintainer: BytaFont.com <info@bytafont.com>
Author: BytaFont.com <info@bytafont.com>
Sponsor: ModMyi.com <http://modmyi.com/forums/index.php?styleid=31>
Section: Fonts (BytaFont 3)
Description: Font for BytaFont 3 by BytaFont.com

