Package: com.bytafont3.kgpayphone
Name: KG Payphone Font 10.2
Version: 3.1
Architecture: iphoneos-arm
Depends: com.bytafont.bytafont3
Depiction: http://repo.bytafont.com/font_swapmode_depiction?id=3846
Maintainer: BytaFont.com <info@bytafont.com>
Author: BytaFont.com <info@bytafont.com>
Sponsor: ModMyi.com <http://modmyi.com/forums/index.php?styleid=31>
Section: Fonts (BytaFont 3)
Description: Font for BytaFont 3 by BytaFont.com

