Name: Phantom (Lite) for Snapchat
Package: com.cokepokes.phantom
Priority: optional
Depends: firmware (>= 8.0), mobilesubstrate (>= 0.9.5000), com.rpetrich.rocketbootstrap
Conflicts: com.n00neimp0rtant.picarchiver, com.thomasfinch.snapchatsound, com.timecompiler.snapchatlog, com.perascotta.snapmoretext, com.bengerard.snapselect, com.ridan.allsnap, com.drp.snapmaster, com.skylerk99.snapprefs, com.abcapps.snapplus, com.jonluca.sclenses4all, com.cokepokes.libphantom
Replaces: com.cokepokes.phlite
Version: 5.3.2-8
Architecture: iphoneos-arm
Description: Phantom is in the process of being fully updated to bypass Snapchat’s tweak detection. Currently this is the only Snapchat tweak that works without triggering a connection error or ban!
Depiction: http://mdallak.github.io/depic/index.html?p=PhantomDp
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: CokePokes <cokepokes@gmail.com>
Section: Tweaks
dev: cokepokes
Icon: file:///Library/PreferenceBundles/phlite.bundle/phantomIcon@2x.png

