Package: net.tateu.opennotifier10
Name: OpenNotifier10 - tateu
Provides: com.n00neimp0rtant.opennotifier, net.tateu.opennotifier
Conflicts: com.n00neimp0rtant.opennotifier, net.tateu.opennotifier, net.tateu.opennotifierbeta, net.tateu.opennotifier9
Depends: firmware (>=10.0), mobilesubstrate, libmoorecon | libstatusbar, preferenceloader, applist
Architecture: iphoneos-arm
Description: Show Notification Icons in the status bar. Unofficial Beta version for my personal use, compiled for iOS9 and armv7 and arm64.
Author: tateu (based on n00neimp0rtant) <tateu@tateu.net>
Depiction: http://www.tateu.net/repo/html/?p=opennotifier10
Maintainer: tateu (Josh Harris) <tateu@tateu.net>
Section: Tweaks
Version: 2.5.0~beta5
