Package: org.thebigboss.protube
Depends: firmware(>= 4.0), preferenceloader
Name: ProTube
Version: 1.12.2
Architecture: iphoneos-arm
Description: complete feature-filled YouTube app
Maintainer: M Dallak <M_Dallak@outlook.com>
Author: Jonas Gessner <support@j-gessner.de>
Section: Multimedia
dev: maxner
Depiction: http://mdallak.github.io/depic/index.html?p=org.thebigboss.protube
Icon: file:///Applications/ProTube.app/icon.png
