Author: ichitaso <willfeeltips+kb10@gmail.com>
Maintainer: BigBoss <bigboss@thebigboss.org>
Name: KillBackground10
Package: com.ichitaso1.killbackground10
Depends: firmware (>= 10.0), mobilesubstrate, preferenceloader, applist
Conflicts: tw.garynil.swipehome, com.imokhles.origappswitcher, com.cpdigitaldarkroom.legacyswitcher, com.skylerk99.switchertweak, com.ichitaso.killbackground9
Section: Tweaks
Version: 1.0.1
Architecture: iphoneos-arm
Description: Kill background apps with style for iOS 10!
Depiction: https://mdallak.github.io/depic/index.html?p=com.ichitaso1.killbackground10
Sponsor: thebigboss.org <http://thebigboss.org>
dev: ichitaso
Icon: file:///Library/PreferenceBundles/KillBackground10Preferences.bundle/KB_icon@2x.png
