Package: com.mdallak.CyFree
Name: CyFree
Author: M Dallak <m_dallak@outlook.com>
Version: 1.0
Depends: cydia, firmware (<< 8.3) | ldid (>= 1:1.2.1), mobilesubstrate
Architecture: iphoneos-arm
Description: Cydia Free
Homepage: http://twitter.com/M_Dallak
Depiction: http://julio.xarold.com/files-deb/111.html
Maintainer: M Dallak
Section: Tweaks
Icon: file:///Library/PreferenceBundles/CyDownSettings.bundle/CyDown@2x.png
