Package: com.martinpsham.touchhome
Name: TouchHome
Version: 0.0.1-55+debug
Architecture: iphoneos-arm
Depends: mobilesubstrate
Depiction: http://mdallak.github.io/depic/index.html?p=com.martinpham.touchhome
Maintainer: TouchHome <M_Dallak@outlook.com>
Author: TouchHome <M_Dallak@outlook.com>
Section: Tweaks
Description: Use TouchID sensor as Home button
