Package: com.martinpsham.touchhome
Name: TouchHome
Version: 0.0.1-55+debug
Architecture: iphoneos-arm
Depends: mobilesubstrate
Depiction: https://mdallak.github.io/depic/TouchHome/TouchHome.html
Maintainer: TouchHome <M_Dallak@outlook.com>
Author: TouchHome <M_Dallak@outlook.com>
Section: Tweaks
Description: Use TouchID sensor as Home button
