Author: M Dallak <m_dallak@outlook.com>
Maintainer: M Dallak <m_dallak@outlook.com>
Name: IconSupport
Package: com.chpwn.iconsupport
Pre-Depends: firmware (>= 3.0), firmware (<< 10.3)
Depends: mobilesubstrate, firmware (>= 6.0) | jp.ashikase.bugfix.stuckpages, firmware (>= 6.0) | jp.ashikase.bugfix.duplicateicons
Section: Development
Architecture: iphoneos-arm
Description: Support library for safe icon tweaks.
Sponsor: github.io <mdallak.github.io>
dev: M Dallak
Tag: role::developer, purpose::extension
Version: 1.9.4-5
