Package: com.alexzielenski.zeppelin
Name: Zeppelin
Icon: http://i.imgur.com/RnZA16c.png
Version: 3.0.0
Architecture: iphoneos-arm
Author: M Dallak <m_dallak@outlook.com>
Depends: firmware (>= 7.1), mobilesubstrate, preferenceloader
Priority: extra
Section: Tweaks
Description: Replaces carrier text with an image
Maintainer: M Dallak <m_dallak@outlook.com>
Sponsor: github.io <mdallak.github.io>
